{
  "extends": [
    "wesbos"
  ],
  "rules": {
    "react/prop-types": 0,
    "no-shadow": "off",
    "eslint-plugin-vue/html-button-has-type": "off",
    "max-len": [
      "error",
      {
        "code": 120
      }
    ]
  }
}